<div class="container">
    
    <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary" %>
    <br><br>

    <div class="row">
        <h1>Students</h1>
    </div>

  <div class="searchdiv">
    <%= form_with url: students_path, method: :get, class: 'searchbar-form' do |form| %>
        <div class="searchbar-container">
            <%= form.text_field :query, placeholder: @querystr, class: "searchbar" %>
            <%= image_submit_tag 'search.png', alt: 'Search', class: 'search-icon' %>
        </div>
    <% end %>
    <%= link_to "Clear Search", students_path, class: "btn clearsearch" %>
  </div>



    <br>
    

    <!--FROM index.html.erb FROM LAB 6-->
    <div class="studentview">
      <% @students.each_with_index do |student| %>
        <div class="student">
            <div class="group">
                <h5 class="card-title">
                    <div> <%= link_to "#{student.firstname} #{student.lastname}", student_path(student.id) %>  </div> 
                </h5>
            </div>
            <span class="homeroom"><%= "Homeroom: #{student.homeroom}" %></span>
            <% if student.enrolled_activities.empty? && student.waitlisted_activities.empty? %>
                <br>
            <% else %>
                <% if !student.enrolled_activities.empty?%>
                    <br>
                    <div class="bold"> <%= "Enrolled in:" %> </div>
                    <% student.enrolled_activities.each do |act| %>
                        <div> <%= link_to act.activity.title, activity_path(act.activity) %>  </div> 
                    <% end %>
                <% end %>
                <% if !student.waitlisted_activities.empty? %> 
                    
                    <div class="bold"> <%= "Waitlisted for:" %> </div>
                    <% student.waitlisted_activities.each do |act| %>
                        <div> <%= link_to act.activity.title, activity_path(act.activity) %>  </div> 
                    <% end %>
                <% end %>
            <% end %>
            <br>
        </div>
      <% end %>
    </div>
    <br><%= link_to "New Student", new_student_path, class: "btn btn-info" %>
    <br>
   
  </div>
</div>