<div class="container">
  <h3 class="hero"><%= "#{@student.firstname} #{@student.lastname}" %></h3>

  <div class="student-info">
    <div> <%= "Grade: #{@student.grade}"%> </div>
    <div> <%= "Homeroom: #{@student.homeroom}" %> </div>
    <br>
  </div>

  <div class="student-activties-list">
    <%if @student.enrolled_activities != nil && @student.enrolled_activities.count != 0%>
      <div class="act-status-list"> <%= "Enrolled Activties:" %> 
      <% @student.enrolled_activities.each do |a| %>
        <div class="listed-act"> <%= link_to a.activity.title, activity_path(a.activity) %>  </div> 
      <% end %>
      </div>
    <% end %>
    <%if @student.waitlisted_activities != nil && @student.waitlisted_activities.count != 0%>
      <div class="act-status-list"> <%= "Waitlisted Activties:" %> 
      <% @student.waitlisted_activities.each do |a| %>
        <div class="listed-act">
          <%= link_to a.activity.title, activity_path(a.activity) %> 
          <div>
            <% if !current_user.nil? && (current_user.admin? || current_user.teacher?)%>
              <%= button_to "Deny", registration_path, method: :delete, class: "btn btn-danger" %> 
              <%= button_to "Approve", registration_approve_path(Registration.where(student_id: @student.id).where(activity_id: a.activity.id)[0].id), method: :put, class: "btn btn-info"%> 
            <% elsif !current_user.nil? && current_user.teacher? %>
              <%= button_to "Cancel", registration_path, method: :delete,class: "btn btn-danger" %> 
            <% end %>
          </div> 
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <br>

  <%= button_to "Delete Student", @student, method: :delete, class: "btn btn-danger" %><br><br>
  <%= link_to "Back to Students", students_path, class: "btn btn-secondary" %>
    
</div>