<div class="container">
  <h3 class="hero"><%= "#{@student.firstname} #{@student.lastname}" %></h3>

  <div class="student-info">
    <div> <%= "Grade: #{@student.grade}"%> </div>
    <div> <%= "Homeroom: #{@student.homeroom}" %> </div>
    <br>
  </div>

  <div class="student-list">
    <%if @student.enrolled_activities != nil && @student.enrolled_activities.count != 0%>
      <div class="bold"> <%= "Enrolled Activties:" %> </div>
      <% @student.enrolled_activities.each do |a| %>
        <div> <%= link_to a.activity.title, activity_path(a.activity) %>  </div> 
      <% end %>
    <% end %>
    <%if @student.waitlisted_activities != nil && @student.waitlisted_activities.count != 0%>
      <div class="bold"> <%= "Waitlisted Activties:" %> </div>
      <% @student.waitlisted_activities.each do |a| %>
        <div> <%= link_to a.activity.title, activity_path(a.activity) %>  </div> 
      <% end %>
    <% end %>
  </div>
  <br>

  <%= button_to "Delete Student", @student, method: :delete, class: "btn btn-danger" %><br><br>
  <%= link_to "Back to Students", students_path, class: "btn btn-secondary" %>
    
</div>