<div class="container">
  <div>
    <% if current_user != nil && (current_user.admin? || current_user.teacher?)%>
      <%= link_to "View Students", students_path, class: "btn btn-info" %>
      <%= link_to "Unapproved Activities", unapproved_activities_path, class: "btn btn-info" %> 
      <% if current_user.admin?%>
        <%= link_to "Moderate Users", moderate_users_path, class: "btn btn-info" %> 
      <%end%>
      
    <% end %>
    <%= link_to "Propose an Activity!", new_activity_path, class: "btn btn-info" %><br> <br>
  </div>

  <div class="row">
      <h1>Activities</h1>
  </div>

  

  <div class="row">
      <%= form_with url: activities_path, method: :get do |form| %>
    <%= form.label :query, "Search for: " %>
    <%= form.text_field :query %>
    <%= form.submit "Filter Activities" %>
    <% end %>
  </div>

  <div class="next row">
    <%= form_with url: activities_path, method: :get do |form| %>
    <%= form.label :days, "Day of the week:" %>
    <%= form.check_box :Monday, checked: @filtermonday %>
    <%= form.label :Monday, "Monday " %>
    <%= form.check_box :Tuesday, checked: @filtertuesday %>
    <%= form.label :Tuesday, "Tuesday " %>
    <%= form.check_box :Wednesday, checked: @filterwednesday %>
    <%= form.label :Wednesday, "Wednesday " %>
    <%= form.check_box :Thursday, checked: @filterthursday %>
    <%= form.label :Thursday, "Thursday " %>
    <%= form.check_box :Friday, checked: @filterfriday %>
    <%= form.label :Friday, "Friday " %>
    <%= form.submit "Filter Days" %>
    <% end %>
  </div>
  

  <div class="third row">
    <%= form_with url: activities_path, method: :get do |form| %>
      <%= form.check_box :avail %>
      <%= form.label :avail, "Available? (Will Implemented Later) " %>
      <%= form.submit "Filter Availability" %>
    <% end %>
  </div>

  <div class="fourth row">
    <%= form_with url: activities_path, method: :get do |form| %>
      <%= form.submit "Reset All Filters" %>
    <% end %>
  </div>



  <div class="row row-cols-4 activitiesview">
    <% @activities.where(approval_status: :Approved).each_with_index do |activity| %>
      <div class="activity">
        <div class="group">
          <h5 class="card-title">
            <!--routing to show path now-->
            <%= link_to activity.title, activity_path(activity) %> 
          </h5>
          <span class="weekday"><%= activity.day %></span>
        </div>
        <span class="description"><%= activity.description %></span>
        <%= link_to "More...", activity_path(activity), class: "btn btn-info"%>
      </div>
    <% end %>
  </div>

  
    
    
</div>