<div class="container">
    <div class="row">
        <h1>Activities</h1>
    </div>

    <div class="row">
      <%= form_with url: activities_path, method: :get do |form| %>
      <%= form.label :query, "Search for: " %>
      <%= form.text_field :query %>
      <%= form.submit "Filter Activities" %>
      <% end %>
    </div>

    <div class="next row">
      <%= form_with url: activities_path, method: :get do |form| %>
      <%= form.label :days, "Day of the week:" %>
      <%= form.check_box :Monday %>
      <%= form.label :Monday, "Monday " %>
      <%= form.check_box :Tuesday %>
      <%= form.label :Tuesday, "Tuesday " %>
      <%= form.check_box :Wednesday %>
      <%= form.label :Wednesday, "Wednesday " %>
      <%= form.check_box :Thursday %>
      <%= form.label :Thursday, "Thursday " %>
      <%= form.check_box :Friday %>
      <%= form.label :Friday, "Friday " %>
      <%= form.submit "Filter Days" %>
      <% end %>
    </div>
    

    <div class="third row">
      <%= form_with url: activities_path, method: :get do |form| %>
        <%= form.check_box :avail %>
        <%= form.label :avail, "Available? " %>
        <%= form.submit "Filter Availability" %>
      <% end %>
    </div>

    <%# FROM index.html.erb FROM LAB 6 %>
    <div class="row row-cols-4 activitiesview">
      <% @activities.each_with_index do |activity| %>
        <%# <div class="col"> %>
          <%# <div class="card mb-1 p-2 h-100"> %>
            <div class="activity">
              <div class="group">
                <h5 class="card-title"><%= link_to activity.title, activity %></h5>
                <span class="weekday"><%= activity.day %></span>
              </div>
              <span class="description"><%= activity.description %></span>
              <span class="btn btn-info"><%= link_to "More...", activity%></span>
              
            </div>
          <%# </div> %>
        <%# </div> %>
      <% end %>
    </div>


</div>