<div class="container">
    <div class="row">
        <h1>Activities</h1>
    </div>

    <%# FROM index.html.erb FROM LAB 6 %>
    <div class="row row-cols-4 activitiesview">
      <% @activities.each_with_index do |activity| %>
        <%# <div class="col"> %>
          <%# <div class="card mb-1 p-2 h-100"> %>
            <div class="activity">
              <div class="group">
                <h5 class="card-title"><%= link_to activity.title, activity %></h5>
                <span class="weekday"><%= activity.day %></span>
              </div>
              <span class="description"><%= activity.description %></span>
              <%= link_to "More...", activity, class: "btn btn-info"%>
              
            </div>
          <%# </div> %>
        <%# </div> %>
      <% end %>
    </div>

    
    <%= link_to "Propose an Activity!", new_activity_path, class: "btn btn-info" %>
    


</div>