<div class="container">
  <div class="row">
    <h1>Propose Activity</h1>
  </div>
  <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary backtoactivities" %> <br><br>

  <div class="todo">
      <%= 'I commented out the first if statement on this page. Not sure why we would have new registration stuff here (and was causing error)'%> 
  </div> 
  <br>


  <%# if !current_user.nil? && current_user.role == 'parent' %>
  <% if !current_user.nil? && current_user.nil? %>
    <div class="row">
      <h1>Register for Activity: <%= @activity.title %></h1>
    </div>

    <%= form_with model: @registration, url: activity_registrations_path(@activity), method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :student_id, "Select a Student:" %>
        <%= f.collection_select :student_id, @students, :id, ->(student) { "#{student.firstname} #{student.lastname}" }, prompt: "Select a student", class: "form-control" %>
      </div>

      <%= f.hidden_field :activity_id, value: @activity.id %>

      <div class="form-group">
        <%= f.submit "Register", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <p>You are not authorized to register students for activities.</p>
    </div>
  <% end %>

  <%= form_with model: @activity, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :spots %>
      <%= f.number_field :spots, min: 1, max: 35, step: 1, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :chaperone %>
      <%= f.text_field :chaperone, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :day %>
      <%= f.select :day, Activity.days.keys.map { |w| [w.humanize, w] }, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :time_start %>
      <%= f.time_select :time_start, include_seconds: false %>
    </div>

    <div class="form-group">
      <%= f.label :time_end %>
      <%= f.time_select :time_end, include_seconds: false %>
    </div>

    <%= f.submit "Propose Activity"%>
  <% end %>
</div>