<div class="container">
    <h3 class="hero"><%= @activity.title %></h3>

    <div class="activity-details">
        <p><strong>Description:</strong> <%= @activity.description %></p>
        <p><strong>Spots Available:</strong> <%= @activity.spots %></p>
        <p><strong>Chaperone:</strong> <%= @activity.chaperone %></p>
        <p><strong>Day:</strong> <%= @activity.day %></p>
        <p><strong>Time:</strong> <%= @activity.time_start.strftime("%I:%M %p") %> - <%= @activity.time_end.strftime("%I:%M %p") %></p>
    </div>

    <div class="student-list">
        <% if !@activity.enrolled_students.empty? %>
            <br>
            <div class="bold"> <%= "Student(s) Enrolled:" %> </div>
            <% @activity.enrolled_students.each do |s| %>
                <%= "#{s.student.firstname} #{s.student.lastname}" %>
                <!-- CAN SWITCH TO LINKTO ONCE HAVE SHOW PAGE-->
                <div> <%## link_to "#{s.student.firstname} #{s.student.lastname}", student_path(s.student) %>  </div> 
            <% end %>
        <% end %>
    </div>

    <div class="register-student">
        <h4>Register a Student</h4>
        <%= form_with url: activity_registrations_path(@activity), method: :post, local: true do |f| %> <!-- Use specific URL path -->
            <div class="form-group">
                <%= label_tag :student_id, "Select a Student:" %>
                <%= select_tag :student_id, options_from_collection_for_select(@students, :id, :full_name), class: "form-control" %>
            </div>
            <div class="form-group">
                <%= hidden_field_tag :activity_id, @activity.id %>
                <%= submit_tag "Register", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>

    <%= link_to "Back to index", activities_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_activity_path(@activity), class: "btn btn-info" %>
    <%= button_to "Delete", @activity, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>