<div class="container">
    <h3 class="hero"><%= @activity.title %></h3>

    <div class="activity-details">
        <p><strong>Description:</strong> <%= @activity.description %></p>
        <p><strong>Spots Available:</strong> <%= @activity.spots %></p>
        <p><strong>Chaperone:</strong> <%= @activity.chaperone %></p>
        <p><strong>Day:</strong> <%= @activity.day %></p>
        <p><strong>Time:</strong> <%= @activity.time_start.strftime("%I:%M %p") %> - <%= @activity.time_end.strftime("%I:%M %p") %></p>
    </div>

    <div class="student-list">
        <% if !@activity.enrolled_students.empty? %>
            <br>
            <div class="bold"> <%= "Student(s) Enrolled:" %> </div>
            <% @activity.enrolled_students.each do |s| %>
                <%= "#{s.student.firstname} #{s.student.lastname}" %>
                <!-- CAN SWITCH TO LINKTO ONCE HAVE SHOW PAGE-->
                <div> <%## link_to "#{s.student.firstname} #{s.student.lastname}", student_path(s.student) %>  </div> 
            <% end %>
        <% end %>
    </div>

  <div class="register-student">
    <h4>Register a Student</h4>
    <% if @activity %> <!-- Check if @activity is not nil -->
      <%= form_with url: register_activity_path(@activity), method: :post, local: true do |f| %> 
        <div class="form-group">
          <%= label_tag :student_id, "Select a Student:" %>
          <%= f.select :student_id, options_from_collection_for_select(@students, :id, 
              lambda { |student| "#{student.firstname} #{student.lastname}" }), class: "form-control" %>
        </div>
        <div class="form-group">
          <%= hidden_field_tag :activity_id, @activity.id %>
          <%= submit_tag "Register", class: "btn btn-info" %>
        </div>
      <% end %>
    <% else %>
      <p>Activity not found.</p>
    <% end %>
  
 

  <div>
  <%if @activity.waitlist_students != nil && @activity.waitlist_students.count != 0%>
      <div class="act-status-list"> <%= "Waitlisted Students:" %> 
      <% @activity.waitlist_students.each do |r| %>
        <div class="listed-act" id="<%= dom_id(r) %>">
          <%= link_to r.student.full_name, student_path(r.activity) %> 
          <div>
            <% if !current_user.nil? && (current_user.admin? || current_user.teacher?)%>
              <%= button_to "Deny", registration_path(r.id), method: :delete, class: "btn btn-danger" %> 
              <%= button_to "Approve", registration_approve_path(r.id), method: :put, class: "btn btn-info"%> 
            <%end%>
            <% if !current_user.nil? && current_user.parent? %>
              <%= button_to "Cancel", registration_path(r.id), method: :delete,class: "btn btn-danger" %> 
            <% end %>
          </div> 
        </div>
      <% end %>
      </div>
    <% end %>
  <div>

  <br>
  </div>
    <%= link_to "Edit", edit_activity_path(@activity), class: "btn btn-info" %>
    <%= button_to "Delete", @activity, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
    <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary backtoactivities" %>
    
</div>

<!-- <% if !current_user.nil? && current_user.role == 'parent' %>
    <div class="row">
      <h1>Register for Activity: <%= @activity.title %></h1>
    </div>

    <%= form_with model: @registration, url: activity_registrations_path(@activity), method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :student_id, "Select a Student:" %>
        <%= f.collection_select :student_id, @students, :id, ->(student) { "#{student.firstname} #{student.lastname}" }, prompt: "Select a student", class: "form-control" %>
      </div>

      <%= f.hidden_field :activity_id, value: @activity.id %>

      <div class="form-group">
        <%= f.submit "Register", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <p>You are not authorized to register students for activities.</p>
    </div>
  <% end %> -->