<h1>Unapproved Activities</h1><br>

<% if @unapproved_activities.any? %>
    <div id="unapproved-activities">
        <% @unapproved_activities.each do |activity| %>
            <div>
                <h3><%= activity.title %></h3>
                <p><%= activity.description %></p>
                <p><strong>Chaperone:</strong> <%= activity.chaperone %></p>
                <p><strong>Day:</strong> <%= activity.day %></p>
                <p><strong>Time:</strong> <%= activity.time_start.strftime('%l:%M %p') %> - <%= activity.time_end.strftime('%l:%M %p') %></p>
                <p><strong>Status:</strong> Unapproved</p>
            </div>
            <br>
        <% end %>
    </div>
<% else %>
    <p>No unapproved activities found.</p>
<% end %>
